.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/dist/favicon.ico
client/dist/index.html
client/dist/css/app.2de90b5a.css
client/dist/js/app.7dd6e6a3.js
client/dist/js/app.7dd6e6a3.js.map
client/dist/js/chunk-vendors.276973a3.js
client/dist/js/chunk-vendors.276973a3.js.map
